*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%
}

a{
    text-decoration: none;
}
.bg{
    position: relative;
    width: 37.5rem;
    height: 66.7rem;
    background-color: black;
}
.bg img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100rem;
    height: 58rem;
}
.bg a{
    display: block;
    width: 37.5rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #c8c7c7;
    font-size: 1.2rem;
    letter-spacing:1.1rem;
    text-indent: 1.5rem;
}
.yuan{
    position: absolute;
    top: 40%;
    left: 29%;
    transform: translate(-50%,-50%);
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
    filter: blur(4rem);
    background-color:rgba(243, 236, 236, 0.5);
    animation:move 4s infinite;
}
@keyframes move{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
/* 背景视频 */
video{
    position: absolute;
    left: -80%;
    width: 97.5rem;
    height: 66.7rem;
    z-index: 3;
    display: none;
}

.hei{
    position: absolute;
    z-index: 4;
    width: 37.5rem;
    height: 66.7rem;
    background-color: black;
    animation: movess 2s linear forwards 6s;
}
.three{
    position: absolute;
    width: 37.5rem;
    height: 66.7rem;
    background-color: black;
    z-index: 7;
    color: white;
    text-align: center;
    line-height: 66.7rem;
    font-size: 15rem;
    animation: moves 2s linear forwards;
}
.two{
    position: absolute;
    width: 37.5rem;
    height: 66.7rem;
    background-color: black;
    z-index: 6;
    color: white;
    text-align: center;
    line-height: 66.7rem;
    font-size: 15rem;
    opacity: 0;
    animation: moves 2s linear forwards 2s;
}
.one{
    position: absolute;
    width: 37.5rem;
    height: 66.7rem;
    background-color: black;
    z-index: 5;
    color: white;
    text-align: center;
    line-height: 66.7rem;
    font-size: 15rem;
    opacity: 0;
    animation: moves 2s linear forwards 4s;
}
@keyframes moves{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    20%{
        transform: scale(.8);
        opacity: .8;
    }
    40%{
        transform: scale(.6);
        opacity: .6;
    }
    60%{
        transform: scale(.4);
        opacity: .4;
    }
    80%{
        transform: scale(.2);
        opacity: .2;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes movess{
    0%{
        opacity: 1;
    }
    20%{
        opacity: .8;
    }
    40%{
        opacity: .6;
    }
    60%{
        opacity: .4;
    }
    80%{
        opacity: .2;
    }
    100%{
        opacity: 0;
    }
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    width: 37.5rem;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0 3rem;
    display: none;
    z-index: 2;
}
header img {
    display: block;
    width: 12.5rem;
    height: 8.333rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
header button {
    width: 4.6rem;
    height: 100%;
    background: url(../img/下载.png)no-repeat center center;
    border: 0;
    background-size: 2.6rem auto;
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
}
/* 首页背景 第一页*/
.box {
    width: 37.5rem;
    height: 66.7rem;
    /* background-color: pink; */
    position: relative;
}
.box video {
    width: 100%;
    height: 100%;
}
.box .hint {
    width: 4.5rem;
    position: absolute;
    overflow: hidden;
    top: .5rem;
    left: .5rem;
}
.hint img {
    width: 100%;
}
.box .hint_right {
    width: 4.6rem;
    height: 6rem;
    background: url(../img/下载.png) no-repeat center center;
    background-size: 2.6rem auto;
    position: absolute;
    top: 0;
    right: 3rem;
}
.box_logo {
    width: 100%;
    position: absolute;
    left: 0;
    top: 9.2rem;
    text-align: center;
}
.box_logo img {
    display: inline-block;
    width: auto;
    height: 14.7rem;
}
.box_bottom {
    width: 100%;
    height: 22rem;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 5.4rem;
}
.box_bottom_video {
    overflow: hidden;
    transform: scale(1);
    width: 26.7rem;
    height: 5.7rem;
    background: url(../img/下载2.png)no-repeat center center;
    background-size: cover;
}
.box_bottom_video_open {
    position: relative;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 1rem auto;
}
.box_bottom_video_open::before {
    display: block;
    content: '';
    width: 2.1rem;
    height: 2.1rem;
    background: url(../img/播放.png)no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: 2.1rem auto;
}
.box_bottom_down {
    overflow: hidden;
    width: 100%;
    height: 9.598rem;
    box-sizing: border-box;
}
.box_bottom_download {
    width: 100%;
    height: 3.917rem;
    display: flex;
    justify-content: space-between;
}
.box_bottom_download a {
    width: 11.95rem;
    height: 100%;
}
.box_bottom_download a img {
    display: block;
    width: 100%;
    height: 100%;
}
.box_bottom_txt {
    width: 100%;
    height: 4.68rem;
    margin-top: 1rem;
}
.box_bottom_txt p {
    display: block;
    width: 100%;
    height: 1.36rem;
    font-size: 1.2rem;
    background: url(../img/txt_bg.png)center/cover no-repeat;
    color: #fff;
    text-align: center;
    margin-bottom: .3rem;
}
.box_bottom_txt3 a{
    /* display: flex; */
    display: block;
    width: 4.8rem;
    height: 1.6rem;
    float: left;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: underline;
    /* margin-right: 7rem; */
    margin-left: 5rem;
}
/* 新闻资讯 第二页*/
.new {
    overflow: hidden;
    box-sizing: border-box;
    width: 37.5rem;
    height: 66.7rem;
    background: url(../img/new_bg.jpg)no-repeat center/cover;
}